<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.mara"
    version   = "1.0.0">

<name>Catálogo de Servicios</name>

<description>
Agenda Trabajo
</description>

<author href="" email="jhova_29@hotmail.com">
Polo Jaramillo
</author>
<icon src="images/dp.jpg" gap:density="ldpi" gap:platform="android" />
<icon src="images/dp.jpg" gap:density="mdpi" gap:platform="android" />
<icon src="images/dp.jpg" gap:density="hdpi" gap:platform="android" />
<icon src="images/dp.jpg" gap:density="xhdpi" gap:platform="android" />

<plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    
<feature name="http://api.phonegap.com/1.0/network" />
<access origin="*" onlyInBrowser="true" />
</widget>
